@using System.Reflection;
@{
    ViewBag.Title = "Output Cache";
}
<h2>PerfCounters</h2>

@using System.Diagnostics;
<!DOCTYPE html>
<html>
<head>
    <title>ASP.NET MVC Memory Monitoring</title>
</head>
<body>
    <div id="wrapper">
        <div class="content">
            <header>
                <h1>ASP.NET MVC Memory Monitoring - @ViewBag.Title</h1>
                <p>
                    This page lists all the entries in the OutputCache internal ASP.NET cache system.
                </p>
            </header>
            <div>
                <section id="content">
                    <article>
                        <h2>@ViewBag.Title</h2>
                        @{
                            Type runtimeType = typeof(HttpRuntime);

                            PropertyInfo ci = runtimeType.GetProperty("CacheInternal", BindingFlags.NonPublic | BindingFlags.Static);

                            Object cache = ci.GetValue(ci, new object[0]);

                            FieldInfo cachesInfo = cache.GetType().GetField("_caches", BindingFlags.NonPublic | BindingFlags.Instance);
                            object cacheEntries = cachesInfo.GetValue(cache);

                            List<object> outputCacheEntries = new List<object>();

                            foreach (Object singleCache in cacheEntries as Array)
                            {
                                FieldInfo singleCacheInfo = singleCache.GetType().GetField("_entries", BindingFlags.NonPublic | BindingFlags.Instance);
                                object entries = singleCacheInfo.GetValue(singleCache);

                                foreach (System.Collections.DictionaryEntry cacheEntry in entries as System.Collections.Hashtable)
                                {
                                    FieldInfo cacheEntryInfo = cacheEntry.Value.GetType().GetField("_value", BindingFlags.NonPublic | BindingFlags.Instance);
                                    object value = cacheEntryInfo.GetValue(cacheEntry.Value);
                                    if (value.GetType().Name == "CachedRawResponse")
                                    {
                                        outputCacheEntries.Add(value);
                                    }
                                }
                            }

                            @outputCacheEntries.Count <text> entries found in OutputCache.</text>                            
                        }

                    </article>
                </section>
            </div>
        </div>
        <footer>
        </footer>
    </div>
</body>
</html>

